@charset 'UTF-8';
/* 전체 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 로고 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* CSS 변수 선언 방법 */
:root {
    --primary-color: #f1f1f1;
    --border-color1: #f1f1f1;
    --bg-color1: #f9f9f9;
    --font-color1: #666666;
    --content-width: 1400px;
}

html,
body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    color: whitesmoke;
}

a {
    color: white;
}

/* 상단영역 */

#header {
    overflow: hidden;
    padding: 0 15px;
}

#logo {
    float: left;
}

#logo a {
    font-size: 32px;
    font-weight: 100;
    font-family: 'Monoton', cursive;
    line-height: 60px;
    text-transform: uppercase;
}

#gnb {
    float: right;
}

#gnb ul {
    overflow: hidden;
}

#gnb ul li {
    float: left;
    text-transform: capitalize;
    margin-right: 10px;
}

#gnb ul li:last-child {
    margin-right: 0;
}

#gnb ul li:nth-child(3) {
    text-transform: uppercase;
}

#gnb ul li a {
    line-height: 60px;
}

/* 메인배너 영역 */

/*
실습:
높이 850px
제시된 이미지로 #mainbanner 요소에
배경이미지를 추가하시오.
위치는 가운데(x축) 상단(y축) 정렬
이미지 반복은 없다.
#mainbanner 요소에 이미지로 덮는(cover) 코드로 작성
*/

#mainbanner {
    height: 850px;
    background-image: url(../img/main_banner_img.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 컨텐츠 영역 */

#container {
    width: var(--content-width);
    min-height: 500px;
    margin: 0 auto;
}

#container h2 {
    text-align: center;
    text-transform: capitalize;
    color: var(--font-color1);
    border-bottom: 1px solid var(--border-color1);
    /*
    실습:
    3개 값을 사용하여 padding 상단 30px, 하단 15px, 좌우 0px
    */
    padding: 30px 0 15px;
    margin-bottom: 15px;
}

/* section items 영역 */
/* section items 공통속성 */
#container section {
    overflow: hidden;
}

#container section .items {
    float: left;
    width: 25%;
    min-height: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
}

/*
실습:
.items의 자식요소 h3의 상단과 하단에 여백을 10px만큼 추가하고
아래영역에 테두리를 추가하시오.
p 요소와 간격을 10px만큼 주시오.
*/
#container section .items h3 {
    border-bottom: 1px solid var(--border-color1);
    padding: 10px 0;
    margin-bottom: 10px;
}

/* section items type-a 영역 */

#container section.type-a .items .bg-box {
    height: 150px;
    background-size: cover;
    background-position: center top;
}

#container section.type-a .items:nth-child(4n + 1) .bg-box {
    background-image: url(../img/m_01.png);
}

#container section.type-a .items:nth-child(4n + 2) .bg-box {
    background-image: url(../img/m_02.png);
}

#container section.type-a .items:nth-child(4n + 3) .bg-box {
    background-image: url(../img/m_03.png);
}

#container section.type-a .items:nth-child(4n + 4) .bg-box {
    background-image: url(../img/m_04.png);
}

/* section items type-b 영역 */
#container section.type-b .items .box {
    /* border: 1px solid red; */
    border: 1px solid gray;
    padding: 10px;
}

#container section.type-b .items .box img {
    width: 100%;
}

#container section.type-b .items .box h3 {
    /* border-color: red; */
    border-color: gray;
}

#footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    /* background-color: var(--bg-color1); */
    background-color: gray;
}

#footer .inner {
    width: var(--content-width);
    margin: 0 auto;
}