@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body { height: 100%; }

#container {
    display: inline-block;
    /* 세로 스크롤 발생시 viewport width에 영향을 준다 */
    width: 100vmax;
    height: 100vmax;
    background-color: red;
}